
.second-navbar {
    margin-top: 56px;
    border-top: 0.5px solid rgba(124, 120, 120, 0.973);

}


.nav2logo{
    background: url("/static/cse/image/coverpic1.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin-top: 113px;
    border-bottom: 1px solid grey;
    text-align: center;
    
}
#desctext{
    color: white
}
.textsec{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.945);
  
}


#col1{
    background-color: rgb(32, 30, 30)
    
}
#col2{
    background-color: lawngreen;
}
.profimage{
  color:white;
}
.profimage:hover{
    color:red;
  }
#pimg{
    border: 2px solid white;  
}
#cardbtn1{
    margin-bottom: 30px;
}