.second-navbar {
    margin-top: 56px;
    border-top: 0.5px solid rgba(124, 120, 120, 0.973);
}
#id1{
    background-color:black
    
}

#id2{
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
    border:2px solid rgb(19, 255, 176);
    padding-top: 5px;
    padding-bottom:10px;
    border-radius:15px;
}
#id3{
    background-color: black;

}

#colume1{
    background-color: black;
}
#colume2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(19, 255, 176);
    margin-top: 180px;
    border:2px solid rgb(19, 255, 176);
    border-radius: 7px;
}


#welcome{
    margin-top: 3px;
    text-align: center;
}
#usertext1{
    margin-top: 15px;
    text-align: center;
}


#colume3{
    background-color: black;
}
#username{
    margin-top: 10px;
    margin-bottom: 5px;
}

#emailform{
    margin-top: 10px;
}
#id_email{
    height: 33px;
    width: 325px;
    border-radius: 10px;
}

.mysub{
    background-color: white;
}
#mysign{
    margin-top: 10px;
    background-color: rgb(7, 231, 157);
    color: black;
    font-size: 16px;

}
#password1{
    margin-top: 10px;
}
#id_new_password1{
    height: 45px;
    width: 338px;
    border-color: black;
    border-width:1px;
    border-radius: 5px;

}
#password2{
    margin-top: 10px;
}
#id_new_password2{
    height: 45px;
    width: 338px;
    border-color: black;
    border-width:1px;
    border-radius: 5px;

}

#colume2A{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: rgb(19, 255, 176);
    margin-top: 150px;
    border:2px solid rgb(19, 255, 176);
    border-radius: 7px;
}
#colume2B{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgb(19, 255, 176);
    margin-top: 150px;
    border:2px solid rgb(19, 255, 176);
    border-radius: 7px;
}

#colume2C{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgb(19, 255, 176);
    margin-top: 190px;
    border:2px solid rgb(19, 255, 176);
    border-radius: 7px;
}

#mysignA{
    background-color: rgb(7, 231, 157);
    color: black;
    font-size: 16px;

}